@font-face {
  font-family: "Suisse Int'l";
  src: url("SuisseIntl-Regular.woff2") format("woff2"),
    url("SuisseIntl-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Suisse Int'l";
  src: url("SuisseIntl-Medium.woff2") format("woff2"),
    url("SuisseIntl-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Suisse Int'l";
  src: url("SuisseIntl-Bold.woff2") format("woff2"),
    url("SuisseIntl-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
